# Python virtualvenvironments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# PyCharm / IntelliJ
.idea/

# OS junk
.DS_Store
Thumbs.db

# Planned Projects/Lektions
07_if_elif_else/08_comparisons_logic/09_while_loop/10_for_loop/03_better_calculator/04_guessing_game/05_translator/06_multiple_choice_quiz/04_dictionaries/05_functions/06_return/07_if_else/08_comparisons_logic/09_while_loop/10_for_loop/11_power_function/12_2d_lists_nested_loops/01_comments/02_try_except/03_files_read/04_files_write/05_modules_pip/06_oop_classes_objects/07_oop_metods/08_inheritance/09_python_interpreter/